



.header,
.nav-sidebar:hover::-webkit-scrollbar-thumb,
.card-title:before,.nav-pills .nav-link.active, .nav-pills .nav-link:hover {
     background: rgb(130, 215, 94);
}
.nav-pills .nav-link.active, .nav-pills .nav-link:hover  {
     border-bottom: 1px solid rgb(130, 215, 94);
}


.nav-sidebar .nav-bar li a.active, .nav-sidebar .nav-bar li a:hover,
.nav-sidebar .nav-bar li.sub-list:hover:before,
.nav-sidebar .nav-bar li.sub-list.sub-menu-show>a,
.nav-sidebar .nav-bar li.sub-list:hover:before,
.nav-sidebar .nav-bar li.sub-list.sub-menu-show:before,.search-form button {
     color: rgb(130, 215, 94);
}



.nav-sidebar::-webkit-scrollbar-thumb,
.sidebar-right:before,
.sidebar-right {
     background: #fff;
}



.header a,
.close-nav-right,
.nav-sidebar,.search-icon {
     color: #fff;
}


.nav-sidebar .nav-bar li.sub-list:before {
     color: #7b7b7b;
}